body{
  background-color:#73d13d
}
.App{
  background-color:#36cfc9;
  min-height:600px;
  width: 500px;
  margin: 30px auto;
}
Input.inp{
  background-color:#0050b3;
  border: 0; 
  color: #fff;
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
Button.button{
  background-color:#f5222d;
    
  width: 100px;
  height: 30px;
  margin: 10px;
  border: 0; 
}

