Paragraph.P{
    background-color:#0050b3;
    border: 0; 
    float: right;
    width: 400px;
    height: 50px;
    margin-right: 10px;
    margin-top: 40px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 10px;
}
Input.input{
    background-color:#0050b3;
    
    border: 0;
    width: 200px;
    height: 20px;
    padding: 25px 20px;
    font-size: 18px;
    border-radius: 10px;
}
Button.button{
    background-color:#f5222d;
    width: 10px;
    height: 30px;
    border: 0; 
  }
  Button.button:hover{
    background-color: #f5222d;
  }